
.navbar {
    height: 90px;
    width: 100%;
    background-color: rgba(4, 4, 4, 0.645);
    position: fixed;
    z-index: 10;
}

.glass-effect {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

.nav-elements {
    display: flex;
    flex-direction: row;
}

.logo {
    position: absolute;
    padding: 35px;
}

.nav-links {
    padding: 20px;
    position: absolute;
    left: 50%;
    right: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

li, ul {
    text-decoration: none;
    list-style-type: none;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.nav-links box-icon {
    fill: white;
    transform: scale(1.5);
    transition: 0.3s ease;
}

.nav-links box-icon:hover {
    fill: var(--orange-site);
    transform: scale(1.43);
}

.blurred-circle {
    width: 650px;
    height: 400px;
    background: linear-gradient(
        100deg, 
        var(--orange-site) 0%, 
        #2436FF 100%);
    border-radius: 50%;
    filter: blur(250px);
    position: absolute;
    left: 20%;
    top: 10%;
    opacity: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#bgVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 40%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    padding: 0px; 
}

.hero-container {
    background-color: #06060682;
    border-radius: 20px; 
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 90%;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(218, 218, 218, 0.068);
    display: flex;
    gap: 30px; 
    align-items: center; 
}

.profile-pic {
    height: 190px;
    margin: 30px;
    border-radius: 15px;
}

.social box-icon {
    fill: white;
    margin: 10px;
    transform: scale(1.4);
}

.social {
    width: 85%;
    transition: 0.3s;
    z-index: 2;
    cursor: pointer;
}

.social:hover {
    background: #20202033;
    border-radius: 15px;
}

.socials span {
    color: white;
    position: relative;
    font-size: 18px;
    bottom: 5px;
    left: 5px;
}

.socials {
    text-decoration: none;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: relative;
    bottom: 30px;
}

.socials a {
    text-decoration: none;
}

.hero-right h3, h1, h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    color: aliceblue;
}

.hero-right h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.hero-right h1 {
    font-size: 52px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.hero-right h2 {
    font-family: "JetBrains Mono", sans-serif;
    color: aliceblue;
    font-size: 19px;
    font-weight: 300;
    margin: 0;
    padding-top: 10px;
}

.hero-right h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    opacity: 40%;
}

.mx-flag {
    position: relative;
    height: 22px;
    width: auto;
    top: 5px;
    padding: 0;
    margin: 0;
}

.hero-right h1 span {
    background: linear-gradient(
        90deg, 
        var(--orange-site) 0%, 
        var(--purple-site) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero-right button {
    background-color: #0C0C0C;
    border: 1.5px solid #6C6C6C;
    height: 45px;
    width: 160px;
    border-radius: 12px;
    color: white;
    text-align: left;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    padding-left: 15px;
    float: inline-end;
    position: relative;
    top: 10px;
}

.hero-right button span {
    position: relative;
    bottom: 5px;
}

.hero-right button box-icon {
    position: relative;
    fill: white;
    left: 18px;
    top: 2px;
}

.hero-right button:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: 0.2s ease;
    cursor: pointer;
}

.hero-right button:hover box-icon {
    fill: black;
    left: 21px;
    top: 0px;
    transition: 0.2s ease;
}


.recent-projects {
    position: relative;
    background: linear-gradient(
        180deg, 
        #060606 0%, 
        #0f0d0dc8 100%
    );
    margin: 0;
    padding: 120px;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 2;
    overflow: hidden;
}

.rp-title {
    margin: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 36px;
    
}

.rp-title box-icon {
    fill: #ffffff;
    transform: scale(1.5);
    margin-left: 5px;
}

.rp-title2 {
    background: linear-gradient(
        90deg, 
        var(--orange-site) 0%, 
        var(--purple-site) 11%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 900;
    font-size: 36px;
    padding: 0;
    margin: 0;
}

.rp-title, .rp-title2 {
    position: relative;
    top: 70px;
}

.controls {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    margin-top: 30px;
    margin-right: 160px;
}

.direction-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left-arrow, .right-arrow {
    background-color: #0C0C0C;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #272727;
    align-content: center;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}

.left-arrow box-icon, 
.right-arrow box-icon {
    fill: white;
    transform: scale(calc(1.5));
    position: relative;
    margin: 0;
    padding: 0;
    left: 18px;
    top: 2px;
}

.controls-separator {
    width: 1px;
    height: 40px;
    position: relative;
    top: 10px;
    background-color: #272727;
    border-radius: 50px;
}

.visitme-projects-button {
    background-color: #0C0C0C;
    border-radius: 50px;
    border: 1px solid #272727;
    width: 180px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.visitme-projects-button:hover,
.left-arrow:hover,
.right-arrow:hover {
    background-color: #1d1d1d;
}

.visitme-projects-button p {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.visitme-projects-button box-icon {
    fill: white;
    transform: scale(calc(2));
}

.projects-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
}

.shadow-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    box-shadow: -10px 0 150px 200px rgb(0, 0, 0);
    z-index: 3;
}

.white-line {
    background: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.781) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    display: flex;
    justify-self: center;
    align-self: center;
    height: 1px;
    width: 800px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}




/* WORK EXPERIENCE SECTION */

.work-experience {
    position: relative;
    min-height: calc(100vh);
    padding: 120px;
    padding-left: 200px;
    padding-right: 200px;
    z-index: 1; /* Agregamos un z-index para que sea una capa de referencia */
}

.work-experience::before {
    content: ''; /* El 'content' es necesario para que el pseudo-elemento aparezca */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        #0e0e0e 0%,
        #080808 100%
    );
    z-index: -2; /* Lo ponemos debajo del video */
}

.work-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 20%;
  z-index: -1;
}

.work-bg-video video {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}

.upper-light {
    width: 620px;
    height: 620px;
    background: linear-gradient(
        100deg, 
        var(--orange-site) 0%, 
        #2436FF 100%);
    border-radius: 50%;
    filter: blur(280px);
    position: absolute;
    left: 50%;
    top: -10%;
    opacity: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.work-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 36px;
}

.work-title box-icon {
    fill: #ffffff;
    transform: scale(1.4);
}

.work-title span {
    background: linear-gradient(
        90deg, 
        var(--orange-site) 0%, 
        var(--purple-site) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.work-cards-container {
    background-color: #0000002d;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid #181818;
    border-radius: 20px;
}

