.job {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    border: 1px solid #262626;
    border-radius: 12px;
    gap: 20px;
}

.epicor-card {
  background: linear-gradient(270deg, #06060626 30%, #000a0d9d 100%) !important;
}

.banorte-card {
  background: linear-gradient(270deg, #06060626 30%, #30080852 100%) !important;
}

.job-left {
    display: flex;
    gap: 30px;
}

.job-name-time {
    width: 280px;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    position: relative;
    top: 10px;
}

.job-name, .job-time, .job-position, .job-desc {
    font-family: 'Plus Jakarta Sans';
    color: white;
}

.job-name {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.job-time {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    opacity: 40%;
}

.job-position {
    font-size: 22px;
    margin: 0;
}

.job-desc {
    font-size: 16px;
    margin: 5;
}

.job-stack {
    font-family: 'Plus Jakarta Sans';
    color: rgba(255, 255, 255, 0.519);

}

.company-logo {
    height: 110px;
    width: auto;
}

.job-separator {
    position: relative;
    width: 1px;
    height: 160px;
    background-color: #262626;
    margin: 23px;
    top: 50%;
}

.job-stack {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 250px;
    gap: 10px;
}

.stack-item {
    background-color: rgba(27, 27, 27, 0.281);
    border: 1px solid rgba(183, 183, 183, 0.262);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.474);
    font-size: 13px;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.stack-item:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(183, 183, 183, 0);
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}