<div class="job" [ngClass]="cardTheme">
    <div class="job-left">
        <div class="job-image-bg">
            @if (companyLogo) {
                <img [src]="companyLogo" alt="Company Logo" class="company-logo">
            }
        </div>
        <div class="job-name-time">
            <h2 class="job-name">{{ companyName }}</h2>
            <h3 class="job-time">{{ companyDuration }}</h3>
        </div>
    </div>
    <div class="job-separator"></div>
    <div class="job-right">
        <h3 class="job-position">{{ jobPosition }}</h3>
        <p class="job-desc">{{ jobDescription }}</p>
    </div>
    @if (technologies.length > 0) {
        <div class="job-stack">
            @for (technology of technologies; track technology) {
                <div class="stack-item">
                    {{ technology }}
                </div>
            }
        </div>
    } @else {}
</div>