.project {
    position: relative;
    background-color: #0C0C0C;
    border: 1px solid #272727;
    border-radius: 25px;
    padding: 25px;
    margin-top: 30px;
    min-height: 42rem;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(5px);
}

.project-img {
    height: 360px;
}

.image-bg {
    background-color: #151515;
    border: 1px solid #474747;
    border-radius: 20px;
    height: fit-content;
    width: auto;
    padding: 15px;
}

.gastrack-theme {
  background: linear-gradient(360deg, #de600016 0%, #1011199d 100%) !important;
}

.moonhike-theme {
  background: linear-gradient(360deg, #4e00de16 0%, #1414149d 100%) !important;
}

.sanpatricio-theme {
  background: linear-gradient(360deg, #212b2316 0%, #0000009d 100%) !important;
}

.project-name, .project-desc { 
    position: relative;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 20px;
    top: 5px;
}

.project-name {
    font-size: 30px;
    font-weight: 900;
}

.project-desc {
    font-size: 15px;
    font-weight: 300;
}

.project-stack {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 15px;
}

.tech-item {
    background-color: #121212;
    border: 1px solid #474747;
    border-radius: 10px;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    fill: white;
    display: flex; 
    align-items: center;
    gap: 5px; 
    padding: 5px 10px;
}

.tech-item i {
    height: 20px;
    width: 20px;

    font-size: 18px !important;
    line-height: 1 !important;
    color: white;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.see-repo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 15px;
    padding-top: 30px;
    gap: 10px;
}


.see-repo i {
    color: white;
    font-size: 24px;
    position: relative;
    top: 2px;
    cursor: pointer;
    transition: 0.2s ease;
}

.see-repo i:hover {
  color: var(--purple-site);
}