.project {
    background-color: #0C0C0C;
    border: 1px solid #272727;
    border-radius: 25px;
    padding: 25px;
    margin-top: 30px;
    min-height: 42rem;
}

.project-img {
    height: 360px;
}

.image-bg {
    background-color: #151515;
    border: 1px solid #474747;
    border-radius: 20px;
    height: fit-content;
    width: auto;
    padding: 15px;
}

.project-name, .project-desc { 
    position: relative;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 20px;
    top: 5px;
}

.project-name {
    font-size: 30px;
    font-weight: 900;
}

.project-desc {
    font-size: 15px;
    font-weight: 300;
}

.project-stack {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 15px;
}

.tech-item {
    background-color: #121212;
    border: 1px solid #474747;
    border-radius: 10px;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    fill: white;
    display: flex; 
    align-items: center;
    gap: 5px; 
    padding: 5px 10px;
}

.tech-item i {
    height: 20px;
    width: 20px;

    font-size: 18px !important;
    line-height: 1 !important;
    color: white;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.see-repo {
  font-size: 25px !important;
  font-weight: 200;
  line-height: 1 !important;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 15px;
  padding-top: 30px;
  cursor: pointer;
}

.see-repo i:hover {
  color: var(--purple-site);
  transition: 0.2s ease;
}