<div class="project">
    <div class="image-bg">
        <img [src]="projectImage" alt="epicor-image" class="project-img epicor-img">
    </div>
        <h2 class="project-name">{{ projectName }}</h2>
        <p class="project-desc">{{ projectDescription }}</p>
        <div class="project-stack">
        @for (tech of projectStack; track tech.name) {
            <div class="tech-item">
                <i class="bx bxl-{{ tech.icon }}"></i>
                <span>{{ tech.name }}</span>
            </div>
        }
        </div>
        <a class="see-repo"><i class='bx bx-link-external'></i></a>
</div>
