<div class="project">
    <div class="image-bg">
        <img [src]="projectImage" alt="epicor-image" class="project-img epicor-img">
    </div>
        <h2 class="project-name">{{ projectName }}</h2>
        <p class="project-desc">{{ projectDescription }}</p>
        <div class="project-stack">
        @for (tech of projectStack; track tech.name) {
            <div class="tech-item">
                <box-icon [name]="tech.icon" type='logo'></box-icon>
                <span>{{ tech.name }}</span>
            </div>
        }
        </div>
    <div class="see-repo"><box-icon name='link-external'></box-icon></div>
</div>
