/* You can add global styles to this file, and also import other style files */
:root {
  --background-first: #060606;
  --orange-site: #FF8228;
  --purple-site: #7986FB; 
  --highlight: #0000FF;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: -1;
  background: linear-gradient(
    180deg, 
    rgb(16, 17, 21) 0%, 
    rgb(0, 0, 0) 100%
  );

  overflow-y: scroll;
  scrollbar-color: rgb(255, 255, 255) rgb(6, 6, 6);
  scrollbar-width: thin;
}

::selection {
  background-color: var(--highlight);
  color: #ffffff;
}


